<div class="navbar-fixed">
    <nav class="indigo darken-4">
        <div class="nav-wrapper container">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul id="nav-mobile" class="rigth hide-on-med-and-down">
              <li><h4 href="#!">{{title}}</h4></li>
              <li ng-repeat="menu in vm.titulos">
                <a href="{[{ menu.ruta }]}"> {[{ menu.titulo }]}</a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
            <ul class="rigth hide-on-med-and-down">
                <li><a href="#modalLogin" class="modal-trigger"><i class="mdi-action-perm-identity"></i></a></li>
                <li><a href="#"><i class="mdi-navigation-refresh"></i></a></li>
                <li><a href="#"><i class="mdi-navigation-more-vert"></i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="#">
                        <input id="search" type="search" placeholder="search">
                    </a>
                </li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </nav>
</div>
<nav class="indigo darken-1 flat hide-on-med-and-down">
    <div class="nav-wrapper container">
        <form>
            <div class="input-field">
                <input id="search" type="search" required="">
                <label for="search"><i class="mdi-action-search"></i></label>
                <i class="mdi-navigation-close"></i>
            </div>
        </form>
    </div>
</nav>














<!--    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav pull-left">
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
        {{#if session.user}}
        <nav class="blog-nav pull-right">
          <a href="#" class="blog-nav-item">{{session.user.screen_name}}({{session.user.email}})</a>
          <a href="/signout" class="blog-nav-item">Sign Out</a>
        </nav>
        {{else}}
        <nav class="blog-nav pull-right">
          <a href="/signin" class="blog-nav-item">Sign In</a>
          <a href="/signup" class="blog-nav-item">Sign Up</a>
        </nav>
        {{/if}}
      </div>
    </div> -->
