<md-toolbar>
    <div class="rigth md-toolbar-tools" >
        <md-button class="md-icon-button"
            aria-label="Menu Button"

            ng-click="vm.onClickMenu();">
            <md-icon
                md-svg-icon="svg/menu.svg"
                aria-label="Menu Icon">
            </md-icon>    
        </md-button>
        <h2>Seguros Catatumbo - <span hide show-gt-sm flex>Intranet</span> </h2>
        <md-button aria-label="Inicio" href="/#!" hide show-gt-sm flex  >
          Inicio
        </md-button>
        <md-button aria-label="Agenda" hide show-gt-sm flex>
          Agenda
        </md-button>
        <md-button aria-label="Empleado" hide show-gt-sm flex
            ng-show="usrConectado.estaConectado">
          Empleado
        </md-button>
        <md-button aria-label="Administraciòn" hide show-gt-sm flex
            ng-hide="usrConectado.nivel <= 50 ">
          Administraciòn
        </md-button>
        <md-button href="/#!/inicio"
          class="md-raised md-primary"
          aria-label="Iniciar Sesion"
          ng-hide="usrConectado.estaConectado"  >
          Iniciar Sesion
        </md-button>
        <md-button class="md-raised md-warn"
          aria-label="Salir"
          ng-show="usrConectado.estaConectado"
          ng-click="vm.salir()" >
          Salir
        </md-button>

        <span flex></span>
    </div>
</md-toolbar>
