<md-toolbar>
    <div class="rigth md-toolbar-tools">
        <md-button class="md-icon-button"
            aria-label="Menu Button"

            ng-click="vm.onClickMenu();">
            <md-icon
                md-svg-icon="svg/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>

        <h2>Seguros Catatumbo - Intranet</h2>
        <md-button aria-label="Inicio" href="/#!" show-gt-xs>
          Inicio
        </md-button>
        <md-button aria-label="Agenda" show-gt-xs>
          Agenda
        </md-button>
        <md-button aria-label="Empleado" show-gt-xs>
          Empleado
        </md-button>
        <md-button aria-label="Administraciòn" show-gt-xs>
          Administraciòn
        </md-button>
        <md-button href="/#!/inicio"class="md-raised md-primary" aria-label="Iniciar Sesion" show-gt-xs>
          Iniciar Sesion
        </md-button>
        <md-button class="md-raised md-warn" aria-label="Salir" show-gt-xs>
          Salir
        </md-button>

        <span flex></span>
    </div>
</md-toolbar>
