


ul {
    width: 276px;
    list-style: none;
    margin: 0;
}

li {
    cursor: pointer;
}


// Calendario
div.cal {
		  display: inline-block;
		  height: 170px;
		  min-height: 140px;
		  margin: 30px;
		}
		div.cal table {
			border-collapse: collapse;
		}
		div.cal th, div.cal td.cal-head {
		  text-align: center;
		  padding-bottom: 5px;
		  color: #000046;
		  border: 0px;
		}
		div.cal td {
		  text-align: center;
		  font-size: 0.9em;
		  border: 1px solid #ddd;
		}
		div.cal div.cal-day {
		  padding: 6px;
		  cursor: pointer;
		  border: 1px solid transparent;
		}
		div.cal div.cal-highlight {
		  background-color: #AAA;
		  color: #000046;
		}
		div.cal div.cal-highlight-active {
		  background-color: #000046;
		  color: #fff;
		}
		div.cal div.cal-day:hover {
		  border: 1px solid #111;
		}




/* Navegacion

		-----------------------------------------------*/
		.mainNav {
			background: white;
			width: 25%;
      padding-top: 1.2em;
      padding-left: 1.2em;
		}
			/* First Level */
			.mainNav ul {
				margin: 0;
				padding: 0;
				list-style: none;
				border-bottom: 1px solid #444
			}
			.mainNav ul li {
				//border-top: 1px solid #444;
			}
			.mainNav ul li a {
				color: #1A237E;
				display: block;
				font-size: 1.1em;
				line-height: normal;
				padding:12px 20px;
				text-decoration:none;
			}
			.mainNav ul li a:hover {
			//	text-decoration: none;
      //
			}
				/* Second Level */
				.mainNav ul ul {
					border-bottom: none
				}
				.mainNav ul ul li {
					border-top: 1px solid #222;
					background: #1A237E;
				}
				.mainNav ul ul li a {
					color: #FFFFFF;
					display: block;
					font-size: 1em;
					line-height: normal;
					padding: 0.5em 1em 0.5em 2.5em;
          font-size: 1.3em;
				}
				.mainNav ul ul li a:hover {
					color: #8F9113;
          border-left : 5px solid #8F9113;
				}
						/* Third Level */
				.mainNav ul ul ul {
					border-top:1px solid #8F9113;
				}
				.mainNav ul ul ul li {
					border:none;
				}
				.mainNav ul ul ul li a {
					padding-left:3.5em;
					padding-top:0.25em;
					padding-bottom:0.25em;
				}
			/* Accordion Button */
			ul li.has-subnav .accordion-btn {
				color:#fff;
				background:rgba(255,255,255, 0.15); font-size:16px;
			}

		@media screen and (max-width: 1024px) {
			.mainNav {width: 40%;}
		}
		@media screen and (max-width: 700px) {
			.mainNav {width: 100%;}
		}
