{{!< layout}}


<md-sidenav flex="1" class="site-sidenav md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')">

  <md-toolbar>
  <header class="nav-header">
     <a ng-href="/" class="docs-logo">
       <img src="img/logoblanco.gif" alt="" style="max-height:100px;padding:0px 10px 0px 10px" />
       <h1 class="docs-logotype md-heading">Angular Material</h1>
     </a>
   </header>
 </md-toolbar>
    <md-content md-scroll-y flex role="navigation" >
        <md-list id="accordion" class="accordion">
        <md-item ng-repeat="menu in vm.titulos ">
          <md-button class="link" style="min-width:250px" >
             {[{menu.titulo | uppercase }]}

          <i data-ng-show="menu.Submenu != 0" class="fa fa-chevron-down"></i>
          </md-button>

          <md-list class="submenu" data-ng-show="menu.Submenu  != 0">
            <md-item ng-repeat="submenu in menu.Submenu ">
              <md-button href="#/{[{submenu.ruta}]}">
                 {[{submenu.nombre}]}
               </md-button>
            </md-item>
          </md-list>
        </md-item>
      </md-list>

    </md-content>
</md-sidenav>

 <!-- fin de la barra de navegacion izquierda-->
<div layout="column" flex tabindex="-1" role="main">

    {{> navbar}}

    <md-content ng-view md-scroll-y flex layout-padding>

    </md-content>

</div>
