{{!< layout}}


<md-sidenav flex="1" class="site-sidenav md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')">

  <md-toolbar md-tall>
    <div layout="column" class="md-toolbar-tools-bottom inset">
     <a ng-href="/#!/" class="docs-logo ">
       <img src="img/logoblanco.gif" alt="" style="max-height:100px;padding:0px 10px 0px 10px" />
    </a>
   </div>
 </md-toolbar>

    <md-content md-scroll-y flex role="navigation" >
      <nav class="mainNav">
    		<ul>
    			<li ng-repeat="menu in vm.titulos"><a href="#">{[{menu.titulo | uppercase }]}</a>
    				<ul data-ng-show="menu.Submenu != 0">
    					<li ng-repeat="submenu in menu.Submenu"><a href="#">{[{submenu.nombre}]}</a></li>
    				</ul>
    			</li>
    		</ul>
    	</nav>
    </md-content>
</md-sidenav>

 <!-- fin de la barra de navegacion izquierda-->
<div layout="column" flex tabindex="-1" role="main">

    {{> navbar}}

    <md-content ng-view md-scroll-y flex="70" layout="row" layout-padding>

    </md-content>

</div>
