{{!< layout}}
   <div class="row">
      <div class="col s3"> <!-- Note that "m4 l3" was added -->
        <!-- Empieza la barra lateral-->
               <aside id="left-sidebar-nav">
                    <ul id="slide-out" class="side-nav fixed leftside-navigation">
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li class="bold" ng-repeat="menu in vm.titulos">
                                    <a class="collapsible-header waves-effect waves-cyan">
                                            <i class="mdi-action-invert-colors"></i> 
                                        {[{menu.titulo | uppercase }]}</a>
                                    <ul class="submenu collapsible-body" data-ng-show="menu.submenu">
                                        <li ng-repeat="submenu in menu.submenu"><a href="#/{[{submenu.ruta}]}">{[{submenu.titulo}]}</a></li>
                                    </ul>
                                </li>
			               
                                <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"> UI Elements</a>
                                     <div class="collapsible-body">
                                        <ul>
                                            <li><a href="ui-buttons.html">Buttons</a>
                                            </li>
                                            <li><a href="ui-badges.html">Badges</a>
                                            </li>
                                            <li><a href="ui-cards.html">Cards</a>
                                            </li>
                                            <li><a href="ui-collections.html">Collections</a>
                                            </li>
                                            <li><a href="ui-accordions.html">Accordian</a>
                                            </li>
                                            <li><a href="ui-tabs.html">Tabs</a>
                                            </li>
                                            <li><a href="ui-navbar.html">Navbar</a>
                                            </li>
                                            <li><a href="ui-pagination.html">Pagination</a>
                                            </li>
                                            <li><a href="ui-preloader.html">Preloader</a>
                                            </li>
                                            <li><a href="ui-modals.html">Modals</a>
                                            </li>
                                            <li><a href="ui-media.html">Media</a>
                                            </li>
                                            <li><a href="ui-toasts.html">Toasts</a>
                                            </li>
                                            <li><a href="ui-tooltip.html">Tooltip</a>
                                            </li>
                                        </ul>
                                </div>
                             </li>
                            <li class="bold"><a class="collapsible-header  waves-effect waves-cyan"><i class="mdi-editor-border-all"></i> Tables</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="table-basic.html">Basic Tables</a>
                                        </li>
                                        <li><a href="table-data.html">Data Tables</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                         </ul>   
                    </li>
                   </ul> 
                    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
                </aside>
                <!-- fin de la barra de navegacion izquierda-->
      </div>
      <div class="main col s12 offset-s2">
        <div ng-view></div>
      </div>
      <div class="col s12">
        <footer class="page-footer">
                <div class="container">
                    <div class="row">
                    <div class="col s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="container">
                    © 2014 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                    </div>
                </div>
                </footer>
      </div>