{{!< layout}}

<div class="row">

      <div class="col s3">
        <!-- Grey navigation panel -->
        <li>assd</li>
        <li>assd</li>
        <li>assd</li>
        <li>assd</li>
        <li>assd</li>
      </div>

      <div class="col s9">
        <!-- Teal page content  -->
        <div class="container" ngApp="App">
          <div ng-view class="container">
          </div>
        </div>

      </div>

    </div>
