{{!< layout}}
<div flex="25" layout="row">
<md-sidenav class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-md')">
    <md-content flex role="navigation" >

        <md-list id="accordion" class="accordion">
				<md-item ng-repeat="menu in vm.titulos">
					<md-button class="link" style="min-width:250px" >
             {[{menu.titulo | uppercase }]}
          <i data-ng-show="menu.submenu" class="fa fa-chevron-down"></i>
          </md-button>

					<md-list class="submenu" data-ng-show="menu.submenu">
						<md-item ng-repeat="submenu in menu.submenu">
              <md-button href="#/{[{submenu.ruta}]}">
                 {[{submenu.titulo}]}
               </md-button>
            </md-item>
					</md-list>
				</md-item>
			</md-list>
    </md-content>
</md-sidenav>

</div>
 <!-- fin de la barra de navegacion izquierda-->

 <!-- Empieza la seccion Principal------------------------------------------->
<div ng-view flex="80" layout="row" layout-padding></div>
