<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="input-field col s12">
      <input id="icon_prefix" type="text" class="validate" ng-model="buscar.nombre">
      <label for="icon_prefix">Buscar</label>   
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          <a href="" ng-click="ordenarPor('nombre')">
            Nombre/s
          </a>
          <span class="caret" style="cursor: pointer" ng-click="ordenarPor('-nombre')"></span>
        </th>
        <th>Usuario</th>
        <th>Activo</th>
        <th>Correo</th>
       </tr>
      </thead>
      <tbody>
      <tr ng-repeat="agenda in ag.agenda | orderBy:ordenSeleccionado | filter:buscar">
        <td>{[{agenda.nombre}]}</td>
        <td>{[{agenda.usuario | lowercase}]}</td>
        <td>{[{agenda.activo}]}</td>
        <td>{[{agenda.correo}]}</td>
        
      </tr>
      </tbody>
    </table>
  </div>
</div>