<div >
			<md-content >
				<div layout="row" layout-align="center center" layout-fill style="min-height: 350px;min-width : 500px">
					<md-whiteframe class="md-whiteframe-z4" flex="100" layout-padding>
								<md-content >
							<form class="form-signin" novalidate name="form">
									<md-input-container style="max-width: 350px;padding-left:2.5em" layout-align="center">
										<label class="md-primary">Usuario</label>
										<input ng-model="ini.usuario.nombreUsuario" required>
									</md-input-container>
									<md-input-container style="max-width: 350px;padding-left:2.5em" layout-align="center">
										<label>Contraseña</label>
										<input ng-model="ini.usuario.clave" type="password" required>
									</md-input-container>
										<div layout="row" layout-sm="column" layout-margin>
											<md-button class="md-raised" flex="50" flex-sm="100" type="submit" ng-click="ini.iniciarSesion()">Entrar</md-button>
											<md-button class="md-raised md-primary" flex="50" flex-sm="100">Registrar</md-button>
										</div>
							 </form>
								</md-content>
					</md-whiteframe>
				</div>
			</md-content>
			<p>
				{[{ini.usuario.nombreUsuario}]}
			</p>
</div>
