// .page-dashboard {}
#EdifPrincipal {
  width: 100%;
  height: 100%;
  position: relative;
z-index: 1;
}
#EdifPrincipal {
perspective: 1000;
}

#card {
  width: 100%;
 height: 100%;
 transform-style: preserve-3d;
 transition: all 1.0s linear;
}

#EdifPrincipal:hover #card {
transform: rotateY(180deg);
box-shadow: -5px 5px 5px #aaa;
}

.frente {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.atras {
  display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
}
