@media (min-width:992px) {
    #aside {
        width:250px;
    }
}

@media (max-width:992px) {
    #aside.pinned, #aside.pin-bottom {
        position:static !important;
        top: auto !important;
    }
}
.search1 {
    position: fixed;
    width: 70%;
    z-index: 100;
    border: solid;
    border-bottom: 2px;
}

.main {
    margin: 0 0 0 0 0; 
}
