<md-dialog aria-label="Editor de Contenido"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editor de Contenido</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="Close dialog">
          <md-icon md-svg-src="svg/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <input type="text" ng-model="content"></input>
        <wysiwyg-edit content="content" api="api"></wysiwyg-edit>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer('not useful')">
       Not Useful
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Useful
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
